@page
@model gestionpresence.Areas.Admin.Pages.Groupes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Groupes de @Model.nomfiliere</h1>

<p>
    <a asp-page="Create"  asp-route-id="@Model.idfiliere">Nouveau</a>
</p>
<table id="mytable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groupe[0].Numero)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groupe) {
        <tr>
            <td>
               @item.Filiere.Niveau.Numero @item.Filiere.Libelle @item.Numero
            </td>
             <td>
               <a asp-page="/Seances/Index" asp-route-id="@item.ID">Séances</a> |
               <a asp-page="/Inscriptions/Index" asp-route-id="@item.ID">Inscriptions</a> 
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
