@page
@model gestionpresence.Areas.Admin.Pages.FiliereMatieres.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FiliereMatiere</h4>
    <hr />
    <dl class="row">
      
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereMatiere.Filiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiliereMatiere.Filiere.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereMatiere.Matiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiliereMatiere.Matiere.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereMatiere.Prof)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiliereMatiere.Prof.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.FiliereMatiere.ID">Edit</a> |
    <a asp-page="./Index">Retour à la liste</a>
</div>
