@page
@model gestionpresence.Areas.Admin.Pages.Seances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.DateSeance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.DateSeance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.durree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.durree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.Groupe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.Groupe.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.Salle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.Salle.CodePointeur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seance.FiliereMatiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seance.FiliereMatiere.ProfId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Seance.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
