@page
@model gestionpresence.Areas.Admin.Anneesuniversitaires.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Nouveau</a>
</p>
<table id="mytable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnneeUniversitaire[0].Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneeUniversitaire[0].AnneeCourante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AnneeUniversitaire) {
        <tr>
            <td>
               @item.AnneeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnneeCourante)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
