@page
@model gestionpresence.Areas.Admin.Salles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Nouveau</a>
</p>
<table id="mytable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Salle[0].Libelle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salle[0].CodePointeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salle[0].EcoleSite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Salle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodePointeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcoleSite.Libelle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
