@page
@inject Data.ApplicationDbContext _db
@model gestionpresence.Areas.Admin.Pages.Utilisateurs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des utilisateurs</h1>

<p>
    <a asp-page="AddUsers">Nouveau</a>
</p>
<table id="mytable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].CodeRFID)
            </th>
        
            <th>
                @Html.DisplayNameFor(model => model.AppUser[0].Email)
            </th>

            <th>Roles</th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodeRFID)
         
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
               @{var roles=(from x in _db.Roles join y in _db.UserRoles on x.Id equals y.RoleId join
               i in _db.Users on y.UserId equals i.Id where i.Id== item.Id select new {
                   rolename=x.Name
               }
               ).ToList(); }
               @foreach (var role in roles)
               {
                   @role.rolename
                  
               }
                  
            </td>
          
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
