@page
@model gestionpresence.Areas.Admin.Salles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.Libelle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.CodePointeur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.CodePointeur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salle.EcoleSite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salle.EcoleSite.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Salle.ID">Edit</a> |
    <a asp-page="./Index">Retour à la liste</a>
</div>
