@page
@model gestionpresence.Areas.Admin.Pages.FiliereMatieres.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FiliereMatiere</h4>
    <hr />
    <dl class="row">
        
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereMatiere.Filiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiliereMatiere.Filiere.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereMatiere.Matiere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiliereMatiere.Matiere.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiliereMatiere.Prof)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiliereMatiere.Prof.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FiliereMatiere.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour à la liste</a>
    </form>
</div>
